*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    width: 100%;
    height:100%;
    margin:0 auto;
    padding: 20px auto;
}
footer{
    margin-top: 20px;
    margin-bottom: auto;
    text-align: center;
    color:rgb(0, 255, 127);
}
section{
    margin-top: 20px;
    text-align: center;

}
header{
    background-color: aquamarine;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin:2px;
    text-align: center ;
}
nav{
    background-color:rgb(189, 51, 224);
    width: 100%;
    height: 15vh;
    display:block;
    box-shadow: 0 2px 4px gray;
    border-radius: 5px;

}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    text-align: center;
    
}
nav ul li{
    display:block;
    width: 100px;
    text-align: center;

}
 nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    width:90%;
    height: 90%;

}

.option{
    height:15vh;
    width: 20vw;
    transition:all 0.3s ease;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.ressources{
    height:15vh;
    width: 25vw;
}
.schedule{
    height:15vh;
    width: 35vw;
}

.option:hover{
    background-color: rgba(0, 0, 0, 0.2);
   /* height:15vh;*/
    width: 35vw;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
    cursor:pointer;
    padding-top:0;
    padding-bottom:0;

}
.option:active{
    background-color: rgba(160,160,0,0.2);
}
img{
    width: 80%;
    height: auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    transition: all 0.3s ease;

}
a{
    text-decoration: none;
    color: black;
}
 section li{
    font-family: 'Noto Serif',sans-serif;
    font-weight: bold;
    font-size: large;
}
section li::before{
    content: ".";
    font-weight: 50px;
    text-align: center;
    color:rgb(204, 124, 19);
    font-size: xx-large;
}
img:hover{
    display:flex;
    box-shadow: 4px 4px 8px rgba(175, 0, 175);
    width:84%;
}

